altair 
appdirs==1.4.4
asttokens 
attrs 
backcall 
blinker==1.4
Bottleneck 
brotlipy==0.7.0
cachetools 
certifi 
cffi 
charset-normalizer 
click 
comm 
cryptography 
debugpy 
decorator 
executing 
gitdb 
GitPython 
idna 
importlib-metadata 
ipykernel 
ipython 
ipywidgets 
jedi 
Jinja2 
joblib 
jsonschema 
jupyter_client 
jupyter_core 
jupyterlab-widgets 
markdown-it-py 
MarkupSafe 
matplotlib-inline 
mdurl 
mkl-fft
mkl-random 
mkl-service==2.4.0
nest-asyncio 
numexpr 
numpy 
packaging 
pandas==1.5.3
parso 
pexpect 
pickleshare 
Pillow==9.4.0
platformdirs 
pooch 
prompt-toolkit 
protobuf==3.20.3
psutil 
ptyprocess 
pure-eval 
pyarrow==11.0.0
pycparser 
pydeck 
Pygments 
Pympler 
pyOpenSSL 
pyrsistent 
PySocks 
python-dateutil 
pytz 
PyYAML 
pyzmq 
requests 
rich 
scikit-learn==1.1.2 
scipy==1.10.1
six 
smmap 
stack-data 
streamlit 
tenacity 
threadpoolctl 
toml 
toolz 
tornado 
traitlets 
typing_extensions 
tzlocal 
urllib3 
validators 
watchdog 
wcwidth 
widgetsnbextension 
zipp 
